<div class="container">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <%= image_tag "singing.png", id: "lead-img" %>
    <p>We are the Friends of Jesus Fellowship, a network of communities and ministries gathered around a common experience of the living presence of Jesus in our midst. We seek to lead lives that demonstrate the reality that Christ is here to teach his people himself.</p>
    <p>As a fellowship gathered by the Holy Spirit, we commit ourselves to the work of making the Kingdom of God visible, here and now. We seek to be an expanding community of disciples bearing the fruit of peace, mercy, economic justice and reconciliation.</p>
    <h1>Meet the Friends of Jesus Fellowship Workers:</h1>
    <h1>The Friends of Jesus Commitments</h1>
    <h1>Our Advices and Queries</h1>
  </div>
</div>
